# for env
python-dotenv
rich

# for ai model
openai
langchain
langchain-openai
langchain-community
langchain-chroma
grandalf

# for embedding
tiktoken
chromadb
pysrt
pypdf
scikit-learn

# for google search
requests
google-api-python-client

# for math
numexpr

# for chatbot
Flask
line-bot-sdk

# for media
pytubefix
